.main {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
    border-radius: 8px;
    background-color: white;
}

.main-heading {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 700;
}

.card-hr {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #FF7D6D;
}

.main-para {
    font-size: 1.05rem;
    margin-top: 1rem;
    margin-left: 0.1rem;
}

.icons {
    color: #FF7D6D;
    font-size: 0.8rem;
}

.main-div {
    margin-top: 1rem;
}