.home-s1-main {
    margin: 9rem 10rem;
}

.home-s2-main {
    background-color: #fffafa;
}

.container {
    padding: 6rem 10rem;
}

.home-s2-main-h2 {
    text-align: center;
    font-size: 2.9rem;
}

.home-s3-main-h2 {
    text-align: center;
    font-size: 2.9rem;
}

